#green-banner{
    background-color: #8B9D83;
    color: white;
}
#font-dark-green{
    color: #515751;
}
body{
    font-family:sans-serif;
}


.circle-singleline {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 16px;
      line-height: 40px;
      text-align: center;    
      background: #ffffff;
      color: #515751;
}


